PORT=4000
NODE_ENV=development

DB_HOST=ep-noisy-meadow-am5d8vqn-pooler.c-5.us-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_i5DUkFGAWRf9
DB_SSL=true

JWT_SECRET=change_this_secret_in_real_env
JWT_EXPIRES_IN=7d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=webtestvikas@gmail.com
SMTP_PASS=your_app_password_here
SMTP_FROM=webtestvikas@gmail.com

# MinIO / S3-compatible object storage (for future use)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=access_key
MINIO_SECRET_KEY=secret_key
MINIO_BUCKET=tender-files
