PORT=4000
NODE_ENV=development

DB_HOST=ep-noisy-meadow-am5d8vqn-pooler.c-5.us-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_i5DUkFGAWRf9
DB_SSL=true

JWT_SECRET=change_this_secret_in_real_env
JWT_EXPIRES_IN=7d

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your_smtp_user
EMAIL_PASS=your_smtp_pass

FILE_UPLOAD_DIR=uploads
